body {
    margin: 0;
}

.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.top-nav li a:hover:not(.active) {
    background-color: #ddd;
}

ul.top-nav li a.active {
    color: white;
    background-color: #008CBA;
}

ul.top-nav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.top-nav li.right,
    ul.top-nav li {
        float: none;
    }
}

.footer {
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #666;
}

.union-member a {
    color: #666;
}

.article-body {
    margin: initial;
}

.article-footer-separate {
    background-image: linear-gradient(to right, rgba(119, 209, 124, 0.5), rgba(119, 209, 124, 1));
    border: none;
    height: 3px;
}