body {
    margin: 0;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.top-nav li a:hover:not(.active) {
    background-color: #ddd;
}

ul.top-nav li a.active {
    color: white;
    background-color: #008CBA;
}

ul.top-nav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.top-nav li.right,
    ul.top-nav li {
        float: none;
    }
}

li.union-member {
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.union-member {
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.article-body {
    margin: initial;
}

.div_foot {
    position: absolute;
    text-align: center;
    width: 100%;
}

.member {
    margin-top: -40px;
}

.hr_line {
    FILTER: alpha(opacity=100,finishopacity=0,style=3);
}