/*
    You can add your own custom styles here.
*/
@media (min-width: 1024px) {
  .article-list--compact.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 10px;
      &:nth-child(odd) {
        margin-right: 8px;
      }
    }
  }
}
